div {
    text-align: center;

  }
  
  .Land {
  
    margin: 0 auto; 
    width: 10vw;
    text-align: right;
    font-family: Arial, sans-serif;
    
  }
  
  .Inntektsgruppe {
    font-family: Arial, sans-serif;
    display: block;
    border-bottom: 1px solid #ccc;
    width: 31vw;
    margin: 0 auto; 
    text-align: left;
    transform: translate(0vw, 0vh);
  }

  .InntektsgruppeTekst {
    font-family: Arial, sans-serif;
    display: block;
    margin: 0 auto; 
    width: 23vw;
    text-align: right;
    transform: translate(3.7vw, -2vh);
    
  }

  #InntektsgruppeEdit {
    display: block;
    margin: 0 auto; 
    height: 1px;
    width: 31%;
    text-align: right;
    transform: translate(54%, -100%);
  }
  

  .GBD {
    font-family: Arial, sans-serif;
    display: block;
    border-bottom: 1px solid #ccc;
    width: 31.5%;
    margin: 0 auto; 
    text-align: left;
    transform: translate(0%, 0%);

  }

  .LandGbdTekst {
    font-family: Arial, sans-serif;
    display: block;
    margin: 0 auto; 
    width: 27vw;
    text-align: right;
    transform: translate(2vw, -2vh);
  }

  #RegionTekstEdit {
    display: block;
    margin: 0 auto;
    height: 1vh;
    border: 1px solid #ccc;
    text-align: right;
    transform: translate(54%, -100%);
  }

  .risikoScore {
    font-family: Arial, sans-serif;
    display: block;
    
    width: 31.5vw;
    height: 30.5vh;
    margin: 0 auto; 
    text-align: left;
    transform: translate(0.4vw, 0vh);
    white-space: pre;

  }

  .risikoScoreTekst {
    font-family: Arial, sans-serif;
    display: block;
    overflow: auto;
    margin: 0 auto; 
    width: 2vw;
    height: 2vh;
    text-align: right;
    transform: translate(14.3vw, -30.1vh);
  }

  .EditButton {
    position: absolute;
    top: 47.2vh;
    left: 65vw;
  }

  .DeleteButton {
    position: absolute;
    top: 47.2%;
    left: 63vw;
  }

  #BeskrivelseEdit {
    display: block;
    margin: 0 auto; 
    width: 25vw;
    height: 30.5vh;
    text-align: left;
    padding: 10px;
    transform: translate(20%, -93%);
  }
  
  .saveButton {
    position: absolute;
    top: 49vh;
    left: 63vw;
  }

  .cancelButton {
    position: absolute;
    top: 49vh;
    left: 65.4vw;
  }

  .sirkler {
    
    transform: translate(0, 0);
  }

  #msg {
    font-size:20px;
    width: 17vw;
    height: 1.7vh;
    margin: 0 auto;
    color: red;
    transform: translate(10%, -160%);
  }


 

  


  
  