div {
    text-align: center;

  }
  
  .Land {
    display: block;
    transform: translate(-11.8%);
  }
  
  .Inntektsgruppe {
    display: block;
    border-bottom: 1px solid #ccc;
    width: 31.5%;
    margin: 0 auto; 
    text-align: left;
    transform: translate(8%, 0%);
  }

  .InntektsgruppeTekst {
    display: block;
    margin: 0 auto; 
    width: 24%;
    text-align: right;
    transform: translate(26%, -100%);
    
  }

  #InntektsgruppeEdit {
    display: block;
    margin: 0 auto; 
    height: 1px;
    width: 31%;
    text-align: right;
    transform: translate(54%, -100%);
  }
  

  .GBD {
    display: block;
    border-bottom: 1px solid #ccc;
    width: 31.5%;
    margin: 0 auto; 
    text-align: left;
    transform: translate(8%, 0%);

  }

  .LandGbdTekst {
    display: block;
    margin: 0 auto; 
    width: 27%;
    text-align: right;
    transform: translate(18%, -100%);
  }

  #RegionTekstEdit {
    display: block;
    margin: 0 auto;
    height: 1px;
    border: 1px solid #ccc;
    text-align: right;
    transform: translate(54%, -100%);
  }

  .risikoScore {

    display: block;
    
    width: 31.5vw;
    height: 30.5vh;
    margin: 0 auto; 
    text-align: left;
    transform: translate(3vw, 0vh);
    white-space: pre;

  }

  .risikoScoreTekst {
    display: block;
    overflow: auto;
    margin: 0 auto; 
    width: 2vw;
    height: 2vh;
    text-align: right;
    transform: translate(17vw, -30.1vh);
  }

  .EditButton {
    position: absolute;
    top: 47.2vh;
    left: 65vw;
  }

  .DeleteButton {
    position: absolute;
    top: 47.2%;
    left: 63vw;
  }

  #BeskrivelseEdit {
    display: block;
    margin: 0 auto; 
    width: 25vw;
    height: 30.5vh;
    text-align: left;
    padding: 10px;
    transform: translate(20%, -93%);
  }
  
  .saveButton {
    position: absolute;
    top: 49vh;
    left: 63vw;
  }

  .cancelButton {
    position: absolute;
    top: 49vh;
    left: 65.4vw;
  }

  .sirkler {
    
    transform: translate(0, 0);
  }

  #msg {
    width: 17vw;
    height: 1.7vh;
    margin: 0 auto;
    color: red;
    transform: translate(10%, -230%);
  }


 

  


  
  