div {
    text-align: center;

  }
  
  .Land {
    display: block;
    transform: translate(-11.8%);
  }
  
  .Inntektsgruppe {
    display: block;
    border-bottom: 1px solid #ccc;
    width: 31.5%;
    margin: 0 auto; 
    text-align: left;
    transform: translate(8%, 0%);
  }

  .InntektsgruppeTekst {
    display: block;
    margin: 0 auto; 
    width: 24%;
    text-align: right;
    transform: translate(26%, -100%);
    
  }

  #InntektsgruppeEdit {
    display: block;
    margin: 0 auto; 
    height: 1px;
    width: 31%;
    text-align: right;
    transform: translate(54%, -100%);
  }
  

  .GBD {
    display: block;
    border-bottom: 1px solid #ccc;
    width: 31.5%;
    margin: 0 auto; 
    text-align: left;
    transform: translate(8%, 0%);

  }

  .LandGbdTekst {
    display: block;
    margin: 0 auto; 
    width: 27%;
    text-align: right;
    transform: translate(18%, -100%);
  }

  #RegionTekstEdit {
    display: block;
    margin: 0 auto;
    height: 1px;
    border: 1px solid #ccc;
    text-align: right;
    transform: translate(54%, -100%);
  }

  .Beskrivelse {

    display: block;
    
    width: 31.5vw;
    height: 30.5vh;
    margin: 0 auto; 
    text-align: left;
    transform: translate(50px, 0px);

  }

  .BeskrivelseTekst {
    display: block;
    overflow: auto;
    margin: 0 auto; 
    border-style:solid;
    border-width: thin;
    border-color: #DCDCDC;
    width: 25vw;
    height: 31vh;
    text-align: left;
    transform: translate(21%, -98%);
  }

  .EditButton {
    position: absolute;
    top: 47.2vh;
    left: 65vw;
  }

  .DeleteButton {
    position: absolute;
    top: 47.2%;
    left: 63vw;
  }

  #BeskrivelseEdit {
    display: block;
    margin: 0 auto; 
    width: 25vw;
    height: 30.5vh;
    text-align: left;
    padding: 10px;
    transform: translate(20%, -93%);
  }
  
  .saveButton {
    position: absolute;
    top: 49vh;
    left: 63vw;
  }

  .cancelButton {
    position: absolute;
    top: 49vh;
    left: 65.4vw;
  }

  #msg {
    width: 17%;
    margin: 0 auto;
    color: red;
    transform: translate(10%, -230%);
  }


 

  


  
  