.navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 15vw;
    background-color: #40111f;
    color: #fff;
  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar li {
    margin: 10px 0;
  }
  
  .navbar a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar a:hover {
    background-color: #fff;
    color: #333;
  }

  .container {
    display: flex;
    flex-direction: row;
  }
  
  .main-content {
    flex: 1;
    margin-left: 220px;
    padding: 20px;
  }
  
  .intro-section {
    margin-bottom: 50px;
  }
  
  .video-section {
    margin-bottom: 50px;
  }
  
  .contact-section {
    margin-bottom: 50px;
  }
  
  iframe {
    width: 50%;
    height: 400px;
  }  
 


  
